*, *::after, *::before {
    box-sizing: border-box;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
body {
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.title {
    padding: 100px 0;
    font-family: 'spaceagecyrillic';
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}
.button {
    text-transform: uppercase;
    padding: 20px 45px;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 21px;
}
.header {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-style: 18px;
    line-height: 21px;
    transition: color .5s;
}
.menu__link:hover {
    color: #CB0E0E;
}
.phone {
    margin-left: auto;
    font-size: 24px;
    line-height: 29px;
}
.login {
    margin-left: 22px;
    margin-right: 134px;
}
.header__content {
    max-width: 600px;
}
.header__title {
    margin-bottom: 20px;
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}
.header__title span {
    display: block;
    font-size: 110px;
    line-height: 110px;
}
.header__text {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 29px;
}
.header__btn {
    padding: 15px 10px 16px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 1px solid #fff;
}
.header__descr {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    margin-top: 40px;
}
.header__descr-text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;
}
.header__descr-text + .header__descr-text {
    margin-left: 52px;
}

/*about*/
.about {
    background: url("../images/about-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.about__item:nth-child(odd) {
    flex-direction: row-reverse;
}
.about__img {
    max-width: 100%;
}
.about__content {
    width: 600px;
}
.about__content-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.about__content-subtitle {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #036CCA;
    text-transform: uppercase;
}
.about__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about__content-text p {
    width: 165px;
}
.about__table {
    margin-bottom: 50px;
}
.about__table-tr {
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
.about__table-tr + .about__table-tr {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
}
.about__table-td {
    padding: 10px 30px 10px 0;
}
.about__table-td span {
    display: block;
    font-size: 14px;
    line-height: 17px;
}
.about__table-caption {
    margin-top: 20px;
    caption-side: bottom;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
}

/*plan*/
.plan {
    margin-top: -1px;
    padding-bottom: 100px;
    background: url("../images/plan-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.plan__box {
    text-align: center;
}
.plan__box circle,
.plan__box text,
foreignObject {
    font-size: 18px;
    transition: all .5s;
    cursor: pointer;
}
.plan__box g:hover circle {
    r: 20px;
    fill: #036CCA;
}
.plan__box g:hover text {
    font-size: 36px;
    fill: #036CCA;
}
foreignObject {
    text-align: left;
}
.plan__box g:hover foreignObject {
    font-size: 22px;
    color: #036CCA;
}

/*reservation*/
.reservation {
    min-height: 100vh;
    background: url("../images/reservation-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.reservation__inner {
    display: flex;
    justify-content: space-between;
}
.reservation__text {
    margin-top: 100px;
    margin-right: 52px;
    margin-left: auto;
    width: 165px;
    font-size: 14px;
    line-height: 18px;
}
.reservation__text + .reservation__text {
    margin-right: 0;
    margin-left: 0;
}

/*info*/
.info {
    padding-bottom: 100px;
    background: url("../images/info-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
/*special*/
.special__inner {
    display: flex;
    justify-content: space-between;
}
.special__item {
    width: 500px;
}
.special__item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    margin-bottom: 25px;
    padding: 40px 75px;
    text-align: center;
    border: 1px solid #fff;
}
.special__item-text {
    margin: 0 auto;
    width: 236px;
    font-size: 24px;
    line-height: 29px;
}
.special__item-text span {
    color: #CB0E0E;
}
.special__old-price {
    position: relative;
    margin-bottom: 16px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
}
.special__old-price::before {
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    top: 7px;
    right: 0;
    transform: rotate(15deg);
    background-color: #CB0E0E;
}
.special__new-price {
    font-size: 48px;
    line-height: 57px;
}
.special__btn {
    width: 100%;
}

/*services*/
.services {
    padding-bottom: 200px;
}
.services__inner {
    display: flex;
    justify-content: space-between;
}
.services__box-list {
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}
.serviceslist-title {
    margin-bottom: 25px;
}
.services__list {
    margin-bottom: 25px;
    list-style: none;
}
.services__list-item {
    position: relative;
    padding-left: 36px;
}
.services__list-item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 0;
    top: 4px;
}
.services__descr {
    font-size: 12px;
    line-height: 14px;
}
.services__buttons {
    width: 500px;
}
.services__btn {
    width: 100%;
}
.services__btn--first {
    position: relative;
    margin-bottom: 50px;
}
.services__btn--first::before {
    position: absolute;
    content: "";
    background: url("../images/foto.png");
    right: 0;
    bottom: 43px;
    width: 192px;
    height: 150px;
}

/*slider*/
.slider {
    text-align: center;
}
.slider__inner {
    margin-bottom: 50px;
    padding: 100px 0;
    border: 1px solid #fff;
}
.slider__box {
}
.slider__box-item {
}
.slider__box-img {
    margin: 0 auto;
}
.slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    cursor: pointer;
}
.slider__arrow-left {
    left: 75px;
}
.slider__arrow-right {
    right: 75px;
}
.slider__descr {
    font-family: 'spaceagecyrillic';
    font-size: 24px;
    line-height: 30px;
}

/*contacts*/
.contacts {
    padding-bottom: 100px;
    background-color: #010203;
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
}
.contacts__box {
    width: 500px;
}
.contacts__title {
    padding-bottom: 46px;
}
.contacts__box-text {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 29px;
}
.contacts__form__input {
    margin-bottom: 30px;
    padding: 20px 0;
    width: 100%;
    background-color: #010203;
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #fff;
}
.contacts__form__input::placeholder {
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
}
.contacts__btn {
    margin-top: 70px;
    width: 100%;
}
.contacts__quarantees {
    width: 500px;
}
.contacts__quarantees-text {
    padding-bottom: 27px;
    font-size: 24px;
    line-height: 29px;
}
.contacts__quarantees-img {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}